<br/>                                  
<div>
<img class="donutpic" src="https://grandcircusco.github.io/demo-apis/donuts/images/d{{donut.id}}.jpg" onError="this.src='assets/images/placeholder.jpg'"/><br/>
<a href="https://grandcircusco.github.io/demo-apis/donut-details/{{donut.id}}.html">{{donut.name}}</a>

<!--Hours upon hours of frustration spent searching this weekend, 
    I cannot for the life of me figure out how to get to the JSON within JSON to create a new object
    and view it in HTML form.

    We've currently learned to pull data down from services, but how can I iterate through links within
    that data to get more JSON with another service? Conceptually, I can't even mentally visualize how 
    this is supposed to work.
-->

</div>
<br/>